@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
body {
    background-image: radial-gradient(#5f5f5f 2px, #f7f7f7 2px);
    background-size: 40px 40px;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Montserrat','Arial', 'sans-serif';
    margin: 0;
}

a {
    color: black;
}

.strawberrysodapls h2 {
    font-size: 5vh;
}

.shirtgal {

    padding-top: 4vw;
    padding-bottom: 2vw;
    margin: 1vw;
    display: flex;
    width: 100vw;
    height: 40%;
    
}

.shirtperv {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.eyelandgyal {
    width: 33.33%;
    height: 40vh;
    margin: 2vw;
    background-color: black;
    border-radius: 15px;
}

.ruleothirds {
    position: absolute;
    bottom: 3vh;
    left:3vh;
    height: calc(87% - 3vh);
    width: 40%;
    border-radius: 2%;
    background-color: black;
}

.strawberrysodapls {
    position: absolute;
    top: 10vh;
    right:3vh;
    height: calc(87% - 3vh);
    width: 55%;
    text-align: center;
}

.navflop {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: ffffff;
    display: flex;
}

.nav_item {
    padding-left: 1vw;
    padding-right: 1vw;
}

.nav_menu {
    display: flex;
    justify-content: right;
    width: 100%;
    height: auto;
    font-size: 2vh;
    align-items:center;
}

.first {
    padding-top: 2vw;
}

button {
    width: 100%;
    height: 10vh;
    border-radius: 15px;
    border-color: black;
    font-size: 5vh;
    color: white;
    background-color: black;
    font-family: 'Montserrat'
}
canvas {
    left: 0px;
    top: 0px;
    position: absolute;
    z-index: -1;
}

.nav_logo {
    height: 8vh;
    padding-left: 1vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
}